@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';



.jumbotron{
    margin: 2em;
    box-shadow: 0 0 0.2em 0.2em royalblue;
}


#house-price{
    text-align: center;
    margin: auto;

}
.modal{
  background: rgba(128, 128, 128, 0.4);
  transition: 1000ms;
}
.fade {
  display: none;
}
.show{
  display: block;
}
